.red {
  color: red;
}
.blue {
  color: blue;
}
.bold {
  font-weight: bold;
  font-style: italic;
}
.Cockpit button {
  background-color: green;
  color: white;
  font: inherit;
  border: 3px solid blue;
  padding: 28px;
  cursor: pointer;
}
.Cockpit button:hover {
  background-color: lightgreen;
  color: black;
}
.Cockpit button.Red {
  background-color: Red;
  color: black;
}
.Cockpit button.Red:hover {
  background-color: salmon;
  color: black;
  font-style: italic;
}
